*{
    margin:0;
    border: border-box;
}

/*------main bar---*/
.navbar{
    height: 60px;
    background-color:rgb(15, 17, 17);
     display:flex;
     justify-content: space-between;
     align-items: center;
    

    } 
 /* left side icons logo and location */   

.nav-logos-left{
    height:50px;
      display:flex; 
     justify-content: space-between;
    align-items: center;
}


.logo{

    background-image: url(amazon_logo.png);
    background-size: cover;
    height:50px;
    width:100px;
    margin-left:11px;
    margin-right: 19px;
  
}

.location {
    color:wheat;
    height:40px;  
    padding-top: 10px;  
    /* margin-left: 15px; */
    
}
.symbol{
    display:flex;
    align-items: center;
    display: flex;
}
.adr1{
    margin-left:15px;
    font-size: 0.75rem;
}
.adr2{
    margin-left:4px;
    font-size:1rem;
    /* font-weight: 800; */
}

/*   2nd main box or middle box part of search*/

.searchbar{
    height:40px;
    width:700px;
       display:flex;
    border-radius: 4px;
}

.searchB{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 40px;
    width:40px;    
}


.s-box{    
    font-size:1.2rem;
    width:100%;        
}

.s-button{
    width: 40px;    
    background-color: goldenrod;
    display:flex;
    justify-content: center;
    align-items: center;    

    border-top-right-radius:4px ;
    border-bottom-right-radius:4px ;
}

/*-------ALL RIGHT SIDE BOXES---------*/


 .country{
    color:rgb(253, 255, 254);
    height:50px;
    width:70px;
    display :flex;
    justify-content: center;
    align-items: center;
    
 }


.ACCOUNTS{
      color:white;
      height: 50px;
    display:flex;
    align-items: center;
}

.smallA{
    font-size:0.7rem;
    font-weight: 700;
   
}
.bigA{
    font-size: 1rem;
    font-weight: 600;
}

.order{
    color:white;
    height: 50px;
    display:flex;
    align-items: center;
}

.smallO{
    font-size:0.7rem;
    font-weight: 700;
   
}
.bigO{
    font-size: 1rem;
    font-weight: 600;
}

/*----CART----------*/
.cart{
    margin-right: 11px;
    height:50px;
    color:white;
    font-weight: 800;
    display: flex;
    align-items: center;
}
.cart i {
    font-size:2.1rem;
}

/*---------HOVER EFFECTS-------------------*/

.border:hover {
    align-self: center;
    border:2px solid white;
}

.searchbar:hover{

    border:2px solid goldenrod;
}
.s-button:hover{
    background-color: rgb(105, 77, 6);
}

/*----------------panel-------------------------------------*/

.panel{
    height:40px;
    background-color: #232f3e;
    display:flex;
    color:aliceblue;
    justify-content: space-between;
    align-items: center;    
}


.firstpart{
   
    font-size: 1rem;
    display:flex;
    color:white;
    width:70%;
}
.menu{
    margin-left:11px;
     font-size: 1.1rem;
     color:white;
     margin-right:35px;
 }
.itm{
    margin-right:35px;    
}

.shopdeal{
    font-size: 1.1rem;
    margin-right: 11px;
}

/*---HERO SECTION--------*/

.hero{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height:400px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    height:40px;
    width:97%;
    background-color: white;
    color:black;
   display:flex;
   justify-content: center;
   align-items: center;
   font-size: 1rem;
   margin-bottom: 20px;
   
}
.hlink{
  text-decoration: none;
  color:#007185;
}


.shopsection{
    
    height:440px;
    background-color: rgba(180, 188, 35, 0.5);
     display:flex;
   justify-content: space-evenly;
    
}
.items{
    height:420px;
    width:23%; 
    background-color: #ffffff;  
    display:inline;
    
    justify-content: center;
}
.top{
    height:50px;
    width:90%;
    display:flex;    
    /* justify-content: center; */
    align-items: center;
    margin-left:15px;
    font-size: 20px;
    font-weight: 700;
    text-transform:capitalize;
}

.boxx{
    height:313px;
    width:90%;
    margin-left:15px;
}
.boximg1 {
    background-image: url("box1_image.jpg");
    background-size:contain;
}

.boximg2 {
    background-image: url("box2_image.jpg");
    background-size:cover;
}

.boximg3 {
    background-image: url("box3_image.jpg");
    background-size:cover;
}

.boximg4 {
    background-image: url("box4_image.jpg");
    background-size:cover;
}

.boximg5 {
    background-image: url("box5_image.jpg");
    background-size:cover;
}

.boximg6 {
    background-image: url("box6_image.jpg");
    background-size:cover;
}
.boximg7 {
    background-image: url("box7_image.jpg");
    background-size:cover;
}
.boximg8 {
    background-image: url("box8_image.jpg");
    background-size:cover;
}
.see{
    font-size: 16px;
    margin-left: 15px;
    margin-top: 15px;
    
}
a{
    text-decoration: none;
    color: #007185;
}
a:hover{
    color:red;
}
/*-----------------footer-------------*/

footer{
    height: 500px;
    background-color: #232f3e;
}
.back{
    height:50px;
    background-color:#2f3845;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;    
}
.back:hover{
    background-color: #3c495b;
    color:white;
}


.section1{
    height:350px;
    display:flex;
    justify-content: center;
    margin-top: 25px;

    border-bottom:2px solid rgba(255, 255, 255,0.1);
    text-transform: capitalize;
}

.FooterLinkCol{
    height:200px;
    width:180px;
}
.FooterLinkColSpace{
    height:200px;
    width:80px;
}

.navFooterhead{
    color: #ffffff;
    margin:6px 0px 14px;
    font-size:16px;
    font-weight: 900;
}
.cul{
  color: rgba(255, 255, 255,0.7);
  font-size: 16px;  
}

.cul:hover {
    text-decoration: underline;
    color:white;
}

ul{
    padding:0px 0px 0px 0px;
}
li{
    list-style: none;
    margin:0px 0px 10px;
}